In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
df = pd.read_csv("C:\\Users\\sneha\\Downloads\\cars.txt")

In [17]:
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

Replace the ? by null

In [20]:
df.replace('?',np.nan, inplace=True)

In [21]:
df.isna().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [101]:
###there are null values in two columns

In [22]:
from sklearn.impute import SimpleImputer

In [24]:
si = SimpleImputer()

df.iloc[:,[1,11]]= si.fit_transform(df.iloc[:,[1,11]])

In [25]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,122.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,122.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450

In [102]:
#convert categorical data into numerical data

In [26]:
from sklearn.preprocessing import OrdinalEncoder

In [27]:
oe = OrdinalEncoder()

In [65]:
df.iloc[:,2:7].columns
df.iloc[:,9]

0      dohc
1      dohc
2      ohcv
3       ohc
4       ohc
       ...
200     ohc
201     ohc
202    ohcv
203     ohc
204     ohc
Name: engine-type, Length: 205, dtype: object

In [73]:
df.iloc[:,[2,3,4,5,6,7,9]] = oe.fit_transform(df.iloc[:,[2,3,4,5,6,7,9]])

In [74]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,122.0,0.0,1.0,0.0,2.0,0.0,8.0,48.8,0.0,130,111.0,21,27,13495
1,3,122.0,0.0,1.0,0.0,2.0,0.0,8.0,48.8,0.0,130,111.0,21,27,16500
2,1,122.0,0.0,1.0,2.0,2.0,0.0,16.0,52.4,5.0,152,154.0,19,26,16500
3,2,164.0,1.0,1.0,3.0,1.0,0.0,21.0,54.3,3.0,109,102.0,24,30,13950
4,2,164.0,1.0,1.0,3.0,0.0,0.0,23.0,54.3,3.0,136,115.0,18,22,17450

In [103]:
#Splitting the data for training and testing

In [38]:
from sklearn.model_selection import train_test_split

In [40]:
from sklearn.linear_model import LinearRegression,Lasso, Ridge
from sklearn.preprocessing import StandardScaler

In [75]:
x = df.iloc[:, :-1]
y = df.iloc[:,-1]

In [76]:
sc = StandardScaler()

df = sc.fit_transform(df)

In [77]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y, train_size=0.8, random_state=1)

In [104]:
#Model building

In [81]:
lr = LinearRegression()

lr.fit(xtrain, ytrain)

ypred= lr.predict(xtest)

In [82]:
print('Training accurancy', lr.score(xtrain,ytrain))
print('Testing accurancy',lr.score(xtest,ytest))

Training accurancy 0.8469975010086488
Testing accurancy 0.7533197595027007

Training accurency is high 

testing accurancy is low

**Overfitting**

# Ridge Regilarization

In [84]:
rg = Ridge(alpha= 1)

rg.fit(xtrain,ytrain)

print('Training accurancy', rg.score(xtrain,ytrain))
print('Testing accurancy',rg.score(xtest,ytest))

Training accurancy 0.8419231931456462
Testing accurancy 0.7658197224043962

In [85]:
rg = Ridge(alpha= 100)

rg.fit(xtrain,ytrain)

print('Training accurancy', rg.score(xtrain,ytrain))
print('Testing accurancy',rg.score(xtest,ytest))

Training accurancy 0.79197096478723
Testing accurancy 0.7711797601695441

In [86]:
rg = Ridge(alpha= 150)

rg.fit(xtrain,ytrain)

print('Training accurancy', rg.score(xtrain,ytrain))
print('Testing accurancy',rg.score(xtest,ytest))

Training accurancy 0.7877735084200924
Testing accurancy 0.7689237833762005


# Lasso Regularization

In [92]:
ls = Lasso(alpha= 250)

ls.fit(xtrain,ytrain)

print('Training accurancy', ls.score(xtrain,ytrain))
print('Testing accurancy',ls.score(xtest,ytest))

Training accurancy 0.7909738694552181
Testing accurancy 0.776414021080917

In [93]:
ls.coef_

array([   0.        ,   -1.87734002, -163.28012966,   -0.        ,
       -352.19133681, 1028.56901465,    0.        ,   42.3382404 ,
        383.08789227,  231.32572979,  116.76108847,   16.66473849,
          0.        , -110.27441802])

# Selection of alpha

In [94]:
for i in range(100,150):
    rg = Ridge(alpha= i)

    rg.fit(xtrain,ytrain)

print(f'{i}', {rg.score(xtrain,ytrain)},{rg.score(xtest,ytest)})

149 {0.7878408355907416} {0.7689616685340155}